#debug {
	margin: 10px;
	padding: 5px 10px;
	bottom: 0;
	position: absolute;
	border-radius: 5px;
	background-color: #000a;
	backdrop-filter: blur(20px);
	color: #ddd;
	font-family: Consolas, monospace;
}

#debug span {
	display: block;
}
#debug span::before {
	color: #aaa;
	font-style: italic;
}

#debug #debugFps::before {
	content: "FPS (curr): ";
}
#debug #debugFpsMax::before {
	content: "FPS (max): ";
}
#debug #debugFpsAvg::before {
	content: "FPS (avg): ";
}
#debug #debugDelta::before {
	content: "Î”t: ";
}
#debug #debugElapsed::before {
	content: "Elapsed: ";
}