.debug {
	margin: 8px;
	padding: 4px 8px;
	top: 0;
	position: absolute;
	background-color: #000a;
	color: #ddd;
	font-family: Consolas, monospace;
	font-size: 12px;
}

.debug span {
	display: block;
}

.debug span::before, .debug label::before {
	color: #aaa;
	font-style: italic;
}

#DebugPosition::before {
	content: "Position: ";
}

#DebugRotation::before {
	content: "Rotation: ";
}

#DebugVisualizeStepsLabel::before {
	content: "Visualize Steps: ";
}

#DebugDelta::before {
	content: "Δt: ";
}