.debug {
	margin: 10px;
	padding: 5px 10px;
	bottom: 0;
	position: absolute;
	border-radius: 5px;
	background-color: #000a;
	backdrop-filter: blur(20px);
	color: #ddd;
	font-family: Consolas, monospace;
}

.debug span {
	display: block;
}
.debug span::before {
	color: #aaa;
	font-style: italic;
}

#DebugTest1 #DebugPosition::before {
	content: "Position: ";
}
#DebugTest1 #DebugRotation::before {
	content: "Rotation: ";
}
#DebugTest2 #DebugVisualizeStepsLabel::before {
	content: "Visualize Steps: ";
}
#DebugTest2 #DebugDelta::before {
	content: "Δt: ";
}