body {
	margin: initial;
	overflow: hidden;
}

canvas {
	display: block;
	position: absolute;
}

div {
	padding: .5rem;
	position: absolute;
	background-color: #ffffff20;
	color: #ffffff70;
	z-index: 1;
}

div span {
	display: block;
}